body {
    background-image: url(https://shorturl.at/ryPW7);
    background-repeat:no-repeat;
    background-size:cover; 
}
h1 {
   background-color:darkorange; color:blueviolet;
    text-shadow: 3px 3px 5px black;
}
.Sashi{
    color:skyblue;
}
ul li{
    color:cyan;
}
